<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <form action="home"><button class="header_button">Home</button></form>
        <form action="about"><button class="header_button">About</button></form>
        <form action="contact"><button class="header_button">Contact</button></form>
    </header>
    <div class="content">
        <div>Time now: {{current_time}}</div>
        <h2>Welcome to my Flask App</h2>
        <div>Explore the website to learn more about us!</div>
        <img src="../static/image/Flask_logo.svg.png" alt="" class="flask_img">
    </div>
    <footer>
        <div>©️ 2025 My Flask App</div>
    </footer>
</body>
</html>